body {
  background-color: lch(13.04% 18.19 77.37);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-color: hsl(37, 53%, 84%);
  --secondary-color: lch(80.98% 14.56 69.3);
  --neutral-color: oklab(68.31% 0.06648 0.09061 / 0.849);
  --neutral-dark: hwb(37 20% 75%);
  --accent-color: #FFFFFF;
}

.navbar {
  background-color: hsl(31,16%,44%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: #e2d3d3;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.navbar .links button {
  background: none;
  border: 1px solid white;
  padding: 6px 12px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}

.history {
  background: var(--neutral-dark);
  padding: 20px;
  border-radius: 10px;
}

.history h2 {
  font-family: 'Playfair Display', serif;
  color: var(--primary-color);
}

.history p {
  color: var(--neutral-color);
}

.spreads h2,
.deli h2 {
  text-align: center;
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
}

.hero {
  background-color: lab(93.14% 3.38 16.95);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 48px;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: hsl(29, 40%, 76%);
  color: white;
  cursor: pointer;
}

.products h2 {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
}

.product-card {
  background: var(--neutral-dark);
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card h3 {
  color: var(--secondary-color);
  font-family: 'Playfair Display', serif;
  margin-top: 10px;
}

.product-card p {
  color: var(--neutral-color);
}

.product-card button {
  margin-top: 10px;
  background-color: hsl(29,40%,76%);
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}

.footer {
  background-color: hsl(31,16%,44%);
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 40px;
}



