:root {
    --primary-color: #f5EDE0;
    --secondary-color: lab(87.22% 4.38 11.5);
    --neutral-color: #6B4F3B;
    --neutral-dark: #928185;
    --accent-color: #FFFFFF;
}  

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}
body {
  font-family: 'Open Sans', sans-serif;
}

.container {
    background-color:var(--neutral-dark);
}

h1, h2{
    color:var(--primary-color);
}

h3 {
    color:var(--secondary-color);
}

p {
    color:var(--neutral-color);
}

.circle {
 width: 100px;
 height: 100px;
 background-color: var(--accent-color);
 border-radius: 50%;
}