:root {
    --primary-color: #bd632f;
    --secondary-color: #D8973C;
    --neutral-color: #eb31c5;
    --neutral-dark: rgb(255, 206, 244);
    --accent-color: light #d3d3ff;
}

.container {
    background-color:var(--neutral-dark);
}

h1, h2{
    color:var(--primary-color);
}

h3 {
    color:var(--secondary-color);
}

p {
    color:var(--neutral-color);
}

.circle {
 width: 100px;
 height: 100px;
 background-color: var(--accent-color);
 border-radius: 50%;
}